In [129]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import random
from pprint import pprint

import seaborn as sns
sns.set(style="ticks", color_codes=True, font_scale=1.5)
color = sns.color_palette()
sns.set_style('darkgrid')


from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, Lasso
from sklearn.metrics import accuracy_score, confusion_matrix, r2_score, mean_squared_error
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

In [130]:
df = pd.read_csv("/home/aj-ajay/Desktop/ML_Materials/data/CustomerChurn.csv")
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [131]:
df = df.drop(['customerID','SeniorCitizen','gender','PhoneService','MultipleLines'],axis=1)
df.head()

,Partner,Dependents,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Yes,No,1,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,No,No,34,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,No,No,2,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,No,No,45,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,No,No,2,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(1), object(14)
memory usage: 880.5+ KB

In [133]:
df.describe()

            tenure  MonthlyCharges
count  7043.000000     7043.000000
mean     32.371149       64.761692
std      24.559481       30.090047
min       0.000000       18.250000
25%       9.000000       35.500000
50%      29.000000       70.350000
75%      55.000000       89.850000
max      72.000000      118.750000

In [134]:
df.shape

(7043, 16)

In [135]:
df.dropna(inplace=True)

In [136]:
# df.corr()['Chrun'].sort_values(ascending =False)
# df.select_dtypes(np.number).corr().sort_values(by = 'Churn', ascending =False)['Churn']

In [137]:
#chi-square Test
# contingency_table = pd.crosstab(
#     df.SeniorCitizen,
#     df.Churn,
#     margins = True
# )
# contingency_table

In [138]:
# from scipy import stats
# stats.chi2_contingency
# df.drop('SeniorCitizen',axis=1,inplace=True)

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 16 columns):
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(1), object(14)
memory usage: 935.4+ KB

In [140]:
df["TotalCharges"] = df.TotalCharges.convert_objects(convert_numeric=True)

/usr/local/anaconda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [141]:
# df = pd.get_dummies(df.loc[:,df.columns != 'Churn'])
# df.columns
df_temp = df.iloc[:,:-1]

In [142]:
df_churn = df.iloc[:,-1]
df_churn

0        No
1        No
2       Yes
3        No
4       Yes
5       Yes
6        No
7        No
8       Yes
9        No
10       No
11       No
12       No
13      Yes
14       No
15       No
16       No
17       No
18      Yes
19       No
20      Yes
21       No
22      Yes
23       No
24       No
25       No
26      Yes
27      Yes
28       No
29      Yes
       ...
7013     No
7014     No
7015     No
7016     No
7017     No
7018    Yes
7019     No
7020     No
7021    Yes
7022     No
7023     No
7024     No
7025     No
7026    Yes
7027     No
7028     No
7029     No
7030     No
7031     No
7032    Yes
7033     No
7034    Yes
7035     No
7036     No
7037     No
7038     No
7039     No
7040     No
7041    Yes
7042     No
Name: Churn, Length: 7043, dtype: object

In [143]:
df_temp = pd.get_dummies(df_temp)

In [144]:
df = df_temp

In [145]:
df['Churn'] = df_churn

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 38 columns):
tenure                                     7043 non-null int64
MonthlyCharges                             7043 non-null float64
TotalCharges                               7032 non-null float64
Partner_No                                 7043 non-null uint8
Partner_Yes                                7043 non-null uint8
Dependents_No                              7043 non-null uint8
Dependents_Yes                             7043 non-null uint8
InternetService_DSL                        7043 non-null uint8
InternetService_Fiber optic                7043 non-null uint8
InternetService_No                         7043 non-null uint8
OnlineSecurity_No                          7043 non-null uint8
OnlineSecurity_No internet service         7043 non-null uint8
OnlineSecurity_Yes                         7043 non-null uint8
OnlineBackup_No                            7043 non-null uint8
OnlineBackup_No internet service           7043 non-null uint8
OnlineBackup_Yes                           7043 non-null uint8
DeviceProtection_No                        7043 non-null uint8
DeviceProtection_No internet service       7043 non-null uint8
DeviceProtection_Yes                       7043 non-null uint8
TechSupport_No                             7043 non-null uint8
TechSupport_No internet service            7043 non-null uint8
TechSupport_Yes                            7043 non-null uint8
StreamingTV_No                             7043 non-null uint8
StreamingTV_No internet service            7043 non-null uint8
StreamingTV_Yes                            7043 non-null uint8
StreamingMovies_No                         7043 non-null uint8
StreamingMovies_No internet service        7043 non-null uint8
StreamingMovies_Yes                        7043 non-null uint8
Contract_Month-to-month                    7043 non-null uint8
Contract_One year                          7043 non-null uint8
Contract_Two year                          7043 non-null uint8
PaperlessBilling_No                        7043 non-null uint8
PaperlessBilling_Yes                       7043 non-null uint8
PaymentMethod_Bank transfer (automatic)    7043 non-null uint8
PaymentMethod_Credit card (automatic)      7043 non-null uint8
PaymentMethod_Electronic check             7043 non-null uint8
PaymentMethod_Mailed check                 7043 non-null uint8
Churn                                      7043 non-null object
dtypes: float64(2), int64(1), object(1), uint8(34)
memory usage: 509.0+ KB

In [147]:
df.fillna(0,inplace=True)

In [148]:
df.isnull().values.any()

False

In [149]:
df.Churn.value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [150]:
df.loc[df.Churn == 'No','Churn']=0
df.loc[df.Churn == 'Yes','Churn']=1
df.head()

,tenure,MonthlyCharges,TotalCharges,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,InternetService_DSL,InternetService_Fiber optic,InternetService_No,...,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn
0,1,29.85,29.85,0,1,1,0,1,0,0,...,1,0,0,0,1,0,0,1,0,0
1,34,56.95,1889.50,1,0,1,0,1,0,0,...,0,1,0,1,0,0,0,0,1,0
2,2,53.85,108.15,1,0,1,0,1,0,0,...,1,0,0,0,1,0,0,0,1,1
3,45,42.30,1840.75,1,0,1,0,1,0,0,...,0,1,0,1,0,1,0,0,0,0
4,2,70.70,151.65,1,0,1,0,0,1,0,...,1,0,0,0,1,0,0,1,0,1

In [151]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 2794)

In [152]:
rf = RandomForestRegressor(n_estimators = 100, max_depth =9, random_state = 50, 
                           max_features=.60)
rf.fit(X_train, y_train)
y_pred_train = rf.predict(X_train)
y_pred_test = rf.predict(X_test)
print("Training Accuracy:", np.round(r2_score(y_train, y_pred_train),2))
print("Training RMSE:", np.sqrt(mean_squared_error(y_train, y_pred_train)))

print("Test Accuracy:", np.round(r2_score(y_test, y_pred_test),2))
print("Test RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_test)))

Training Accuracy: 0.56
Training RMSE: 0.29415776210430244
Test Accuracy: 0.25
Test RMSE: 0.37391916029500827