# Importing Packages

In [25]:
#### Import Modules
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="ticks", color_codes=True, font_scale=1.5)
color = sns.color_palette()
sns.set_style('darkgrid')
import pylab 
%matplotlib inline

import warnings
warnings.simplefilter(action = 'ignore', category=FutureWarning)
warnings.filterwarnings('ignore')
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn #ignore annoying warning (from sklearn and seaborn)


from sklearn.metrics import r2_score, mean_squared_error
from sklearn.linear_model import LinearRegression, ridge_regression, Lasso
from sklearn.model_selection import train_test_split

import statsmodels.api as sm
from statsmodels.formula.api import OLS

# Reading Data

In [26]:
df = pd.read_excel("data/HousingPrice.xls")
df.head()

,Order,PID,MS Zoning,Lot Area,Lot Shape,Utilities,Condition 1,Condition 2,Bldg Type,House Style,...,Year Built,Year Remod/Add,Foundation,Bsmt Qual,Central Air,F_Flr,S_Flr,Kitchen Qual,Yr Sold,Sale_Price
0,1,526301100,RL,31770,IR1,AllPub,Norm,Norm,1Fam,1Story,...,1960,1960,CBlock,TA,Y,1656,0,TA,2010,215000
1,2,526350040,RH,11622,Reg,AllPub,Feedr,Norm,1Fam,1Story,...,1961,1961,CBlock,TA,Y,896,0,TA,2010,105000
2,3,526351010,RL,14267,IR1,AllPub,Norm,Norm,1Fam,1Story,...,1958,1958,CBlock,TA,Y,1329,0,Gd,2010,172000
3,4,526353030,RL,11160,Reg,AllPub,Norm,Norm,1Fam,1Story,...,1968,1968,CBlock,TA,Y,2110,0,Ex,2010,244000
4,5,527105010,RL,13830,IR1,AllPub,Norm,Norm,1Fam,2Story,...,1997,1998,PConc,Gd,Y,928,701,TA,2010,189900

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 22 columns):
Order             2930 non-null int64
PID               2930 non-null int64
MS Zoning         2930 non-null object
Lot Area          2930 non-null int64
Lot Shape         2930 non-null object
Utilities         2930 non-null object
Condition 1       2930 non-null object
Condition 2       2930 non-null object
Bldg Type         2930 non-null object
House Style       2930 non-null object
Overall Qual      2930 non-null int64
Overall Cond      2930 non-null int64
Year Built        2930 non-null int64
Year Remod/Add    2930 non-null int64
Foundation        2930 non-null object
Bsmt Qual         2850 non-null object
Central Air       2930 non-null object
F_Flr             2930 non-null int64
S_Flr             2930 non-null int64
Kitchen Qual      2930 non-null object
Yr Sold           2930 non-null int64
Sale_Price        2930 non-null int64
dtypes: int64(11), object(11)
memory usage: 503.7+ KB

In [28]:
df.columns

Index(['Order', 'PID', 'MS Zoning', 'Lot Area', 'Lot Shape', 'Utilities',
       'Condition 1', 'Condition 2', 'Bldg Type', 'House Style',
       'Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add',
       'Foundation', 'Bsmt Qual', 'Central Air', 'F_Flr', 'S_Flr',
       'Kitchen Qual', 'Yr Sold', 'Sale_Price'],
      dtype='object')

##### Fixing Column Names

In [29]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('/', '_').str.replace(')', '')
df.columns

Index(['order', 'pid', 'ms_zoning', 'lot_area', 'lot_shape', 'utilities',
       'condition_1', 'condition_2', 'bldg_type', 'house_style',
       'overall_qual', 'overall_cond', 'year_built', 'year_remod_add',
       'foundation', 'bsmt_qual', 'central_air', 'f_flr', 's_flr',
       'kitchen_qual', 'yr_sold', 'sale_price'],
      dtype='object')

##### Dropping Missing Values

In [30]:
df.dropna(inplace=True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2850 entries, 0 to 2929
Data columns (total 22 columns):
order             2850 non-null int64
pid               2850 non-null int64
ms_zoning         2850 non-null object
lot_area          2850 non-null int64
lot_shape         2850 non-null object
utilities         2850 non-null object
condition_1       2850 non-null object
condition_2       2850 non-null object
bldg_type         2850 non-null object
house_style       2850 non-null object
overall_qual      2850 non-null int64
overall_cond      2850 non-null int64
year_built        2850 non-null int64
year_remod_add    2850 non-null int64
foundation        2850 non-null object
bsmt_qual         2850 non-null object
central_air       2850 non-null object
f_flr             2850 non-null int64
s_flr             2850 non-null int64
kitchen_qual      2850 non-null object
yr_sold           2850 non-null int64
sale_price        2850 non-null int64
dtypes: int64(11), object(11)
memory usage: 512.1+ KB

In [32]:
df.set_index('pid', inplace=True)  ### Setting Index 
df.drop('order', axis =1, inplace=True) ### Dropping Unneccessary column

# Building BaseLine Model

##### Converting Dummies Variables

In [33]:
base = pd.get_dummies(df)

In [34]:
base.head()

,lot_area,overall_qual,overall_cond,year_built,year_remod_add,f_flr,s_flr,yr_sold,sale_price,ms_zoning_C (all),...,bsmt_qual_Gd,bsmt_qual_Po,bsmt_qual_TA,central_air_N,central_air_Y,kitchen_qual_Ex,kitchen_qual_Fa,kitchen_qual_Gd,kitchen_qual_Po,kitchen_qual_TA
pid,,,,,,,,,,,,,,,,,,,,,
526301100,31770,6,5,1960,1960,1656,0,2010,215000,0,...,0,0,1,0,1,0,0,0,0,1
526350040,11622,5,6,1961,1961,896,0,2010,105000,0,...,0,0,1,0,1,0,0,0,0,1
526351010,14267,6,6,1958,1958,1329,0,2010,172000,0,...,0,0,1,0,1,0,0,1,0,0
526353030,11160,7,5,1968,1968,2110,0,2010,244000,0,...,0,0,1,0,1,1,0,0,0,0
527105010,13830,5,5,1997,1998,928,701,2010,189900,0,...,1,0,0,0,1,0,0,0,0,1

In [35]:
cols_order = ['sale_price', 'lot_area', 'overall_qual', 'overall_cond', 'year_built',
       'year_remod_add', 'f_flr', 's_flr', 'yr_sold', 
       'ms_zoning_C (all)', 'ms_zoning_FV', 'ms_zoning_I (all)',
       'ms_zoning_RH', 'ms_zoning_RL', 'ms_zoning_RM', 'lot_shape_IR1',
       'lot_shape_IR2', 'lot_shape_IR3', 'lot_shape_Reg', 'utilities_AllPub',
       'utilities_NoSeWa', 'utilities_NoSewr', 'condition_1_Artery',
       'condition_1_Feedr', 'condition_1_Norm', 'condition_1_PosA',
       'condition_1_PosN', 'condition_1_RRAe', 'condition_1_RRAn',
       'condition_1_RRNe', 'condition_1_RRNn', 'condition_2_Artery',
       'condition_2_Feedr', 'condition_2_Norm', 'condition_2_PosA',
       'condition_2_PosN', 'condition_2_RRAe', 'condition_2_RRAn',
       'condition_2_RRNn', 'bldg_type_1Fam', 'bldg_type_2fmCon',
       'bldg_type_Duplex', 'bldg_type_Twnhs', 'bldg_type_TwnhsE',
       'house_style_1.5Fin', 'house_style_1.5Unf', 'house_style_1Story',
       'house_style_2.5Fin', 'house_style_2.5Unf', 'house_style_2Story',
       'house_style_SFoyer', 'house_style_SLvl', 'foundation_BrkTil',
       'foundation_CBlock', 'foundation_PConc', 'foundation_Stone',
       'foundation_Wood', 'bsmt_qual_Ex', 'bsmt_qual_Fa', 'bsmt_qual_Gd',
       'bsmt_qual_Po', 'bsmt_qual_TA', 'central_air_N', 'central_air_Y',
       'kitchen_qual_Ex', 'kitchen_qual_Fa', 'kitchen_qual_Gd',
       'kitchen_qual_Po', 'kitchen_qual_TA']

In [36]:
base = base[cols_order].copy()
base.head()

,sale_price,lot_area,overall_qual,overall_cond,year_built,year_remod_add,f_flr,s_flr,yr_sold,ms_zoning_C (all),...,bsmt_qual_Gd,bsmt_qual_Po,bsmt_qual_TA,central_air_N,central_air_Y,kitchen_qual_Ex,kitchen_qual_Fa,kitchen_qual_Gd,kitchen_qual_Po,kitchen_qual_TA
pid,,,,,,,,,,,,,,,,,,,,,
526301100,215000,31770,6,5,1960,1960,1656,0,2010,0,...,0,0,1,0,1,0,0,0,0,1
526350040,105000,11622,5,6,1961,1961,896,0,2010,0,...,0,0,1,0,1,0,0,0,0,1
526351010,172000,14267,6,6,1958,1958,1329,0,2010,0,...,0,0,1,0,1,0,0,1,0,0
526353030,244000,11160,7,5,1968,1968,2110,0,2010,0,...,0,0,1,0,1,1,0,0,0,0
527105010,189900,13830,5,5,1997,1998,928,701,2010,0,...,1,0,0,0,1,0,0,0,0,1

In [37]:
base.shape

(2850, 69)

In [38]:
X = base.iloc[:, 1:].values
y = base.iloc[:, 0].values

In [39]:
lr = LinearRegression()
lr.fit(X, y)
y_pred = lr.predict(X)

In [40]:
print("Initial R2_Score for the Baseline Model:", r2_score(y, y_pred))

Initial R2_Score for the Baseline Model: 0.8476531696170355

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 2794)

In [42]:
print("X_train Shape:", X_train.shape)
print("X_test Shape:", X_test.shape)
print("y_train Shape:", y_train.shape)
print("y_test Shape:", y_test.shape)

X_train Shape: (2137, 68)
X_test Shape: (713, 68)
y_train Shape: (2137,)
y_test Shape: (713,)

In [43]:
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred_train = lr.predict(X_train)
y_pred_test = lr.predict(X_test)

In [44]:
print("R2 Training Score for the Baseline Model:", np.round(r2_score(y_train, y_pred_train),2))

print("R2 Test Score for the Baseline Model:", np.round(r2_score(y_test, y_pred_test),2))

R2 Training Score for the Baseline Model: 0.84
R2 Test Score for the Baseline Model: 0.85

In [45]:
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_test)))

RMSE: 31586.47199373789

In [46]:
print("MSE:", mean_squared_error(y_test, y_pred_test))

MSE: 997705213.0111881